.main-header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}

.main-header>a:first-child {
    height: 100%;
}

.main-header img {
    height: 100%;
    object-fit: contain;
}

.main-header>a {
    margin: 0 2px;
}

.main-header>a>i {
    animation: icon-button-anim-r 300ms both;
    border-radius: 5px;
    padding: 5px;
}

.main-header>a>i:hover {
    animation: icon-button-anim 300ms both;
}

@keyframes icon-button-anim {
    from {
        color: var(--active-green);
        background-color: white;
    }

    to {
        color: white;
        background-color: var(--active-green);
    }
}

@keyframes icon-button-anim-r {
    from {
        color: white;
        background-color: var(--active-green);
    }

    to {
        color: var(--active-green);
        background-color: white;
    }
}

.account-button {
    font-size: large;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    background-color: var(--disabled-gray);
    animation: 300ms hover-animation-r;
    animation-fill-mode: both;
    cursor: pointer;
}

.account-button:hover {
    animation: 300ms hover-animation;
    animation-fill-mode: both;
}

@keyframes hover-animation {
    from {
        background-color: var(--disabled-gray);
        color: black;
    }

    to {
        background-color: var(--active-green);
        color: white;
    }
}

@keyframes hover-animation-r {
    from {
        background-color: var(--active-green);
        color: white;
    }

    to {
        background-color: var(--disabled-gray);
        color: black;
    }
}

.header-button-group {
    display: flex;
    flex-direction: row;
}

.login-dialog {
    position: fixed;
    display: grid;
    background-color: rgba(0, 0, 0, 0.25);
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto 300px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    animation: login-dialog-appear 500ms both;
}

.login-dialog.login-dialog-hide {
    animation: login-dialog-disappear 500ms both;
}

@keyframes login-dialog-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes login-dialog-disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.login-dialog-container {
    background-color: white;
    border-radius: 10px;
    grid-row: 2;
    grid-column: 2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
}

.login-dialog-main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-dialog-input-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 0 10px 0;
    align-items: center;
    justify-content: center;
}

.login-dialog-input-container input {
    padding: 5px;
    border: none;
}

.login-dialog-input-container i {
    cursor: pointer;
}

.login-dialog-input-container input:focus-visible {
    outline: none;
}

.login-dialog-main h2 {
    margin: 0 0 10px 0;
}