.country-section-container {
    padding: 15px;
}

.country-section-charts {
    display: flex;
    flex-direction: row;
}

.country-section-charts>div {
    width: 50%;
}

.close-icon-button {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.country-section-perion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.country-section-perion h4 {
    margin: 0 5px 0 0;
}
